# Python env
venv/
.venv/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
*.env

# Playwright
playwright/.cache/
playwright/driver/
**/driver/node
**/driver/linux*
**/driver/mac*
**/driver/win*

# Node ecosystem
node_modules/
*.log

# Tailwind standalone binaries
tailwindcss
tailwindcss.exe
tailwindcss-linux-x64
tailwindcss-darwin-x64
tailwindcss-darwin-arm64
src/tailwindcss

# Build outputs
dist/
build/

# OS & editor trash
.DS_Store
Thumbs.db
.idea/
.vscode/
